<div class="modal fade" id="offshoreModal" tabindex="-1" role="dialog" aria-labelledby="offshoreModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="offshoreModalLabel">Offshore Consultations:</h5>
      </div>
      <div class="modal-body">
        <p>
          For clients outside Australia, Seven Migration renders Video
          Conferences with our Registered Migration Agents (subject to
          availability and time differences).
        </p>
        <p>
          Consultation Fee: <%= number_to_currency Appointment.find(1).price, unit: 'AUD$'%> (GST Inclusive)*
        </p>
        <p>
          Services Included:  
        </p>
        <ul>
          <li>Analysis of visa eligibility, according to clients’ circumstances and individual objectives/background.</li>
          <li>Provision of migration advice and development of an initial migration plan, subject to clients’ circumstances and individual objectives/background.</li>
          <li>Provision of general orientation in regards to professional validation processes (subject to individual analysis).</li>
        </ul>
        <span>
          *As part of the Consultation Fee for your 1st appointment, you will
          also receive an entitlement to <b>one</b> free-of-charge follow-up
          consultations, which can be scheduled at anytime of your discretion.
          Please also note that this Consultation Fee <b>does not include</b> fees
          related to visa applications, legal representation (as well as any
          other migration agent costs) or any other fees applicable throughout
          the process of lodging and/or appealing for a visa.
        </span>
      </div>
      <div class="modal-footer">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="WN2Y6M62G9PWQ">
          <input type="hidden" name="custom" value="" id="paypal_custom_variable">
          <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </div>
</div>
