<div class="modal fade" id="termsOfServicesModal" tabindex="-1" role="dialog" aria-labelledby="termsOfServicesModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsOfServicesModalLabel">Terms of services</h5>
      </div>
      <div class="modal-body">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum consequatur odio quod laborum recusandae debitis dolore consectetur ad unde deleniti, alias optio dolorem harum, totam nisi sit quae modi. A.</div>
        <div>Cupiditate magni enim molestias nihil, quis aut, harum error! Doloremque rerum quo accusamus adipisci nemo laboriosam dicta ratione, fugiat ipsa eum illum tenetur nisi totam dolores dolore odit, voluptate ullam!</div>
        <div>Quae ipsa, sit delectus id voluptas. Minus asperiores explicabo fugit laboriosam, perferendis vero animi commodi quidem, vel sint odit ullam ea sit hic nobis sequi velit magni quibusdam, dignissimos eum.</div>
      </div>
    </div>
  </div>
</div>
