<footer id="footer" class="footer transparent-bg">
  <div id="bottom-bar" class="full-width-line" role="contentinfo">
    <div class="wf-wrap">
      <div class="wf-container-bottom">
        <div class="wf-table wf-mobile-collapsed">
          <div class="wf-td"></div>
          <div class="wf-td bottom-text-block">
            <p>© 2015 sevenmigration.com.au. All rights reserved. MARN 1571555.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
