<footer id="footer" class="footer transparent-bg empty-footer">

  <!-- !Bottom-bar -->
  <div id="bottom-bar" class="full-width-line" role="contentinfo">
    <div class="wf-wrap">
      <div class="wf-container-bottom">
        <div class="wf-table wf-mobile-collapsed">

          <div class="wf-td"></div>

          <div class="wf-td bottom-text-block">

            <p style="text-align: center;">© 2018 sevenmigration.com.au. All rights reserved. MARN 1571555.</p>

          </div>

        </div>
      </div>
      <!-- .wf-container-bottom -->
    </div>
    <!-- .wf-wrap -->
  </div>
  <!-- #bottom-bar -->
</footer>
