<!-- HEADER -->
<header id="header" class="sticky">
	<div class="wrapper">
		<!-- LEFT -->
		<div class="left">
			<div id="logo"></div>
		</div>
		<!-- RIGHT -->
		<div class="right wrap alignRight">
			<!-- MENU -->
			<nav id="headerMenu">
				<ul id="menu">
					<li class="menuItem">
						<a href="http://www.sevenmigration.com.au" class="">Home</a>
						<i class="animation line"></i>
					</li>
					<li class="menuItem">
						<a href="http://www.sevenmigration.com.au/about-us" class="">About us</a>
						<i class="animation line"></i>
					</li>
					<li class="menuItem">
						<a href="http://www.sevenmigration.com.au/our-services" class="">Our Services</a>
						<i class="animation line"></i>
					</li>
					<li class="active">
						<a href="#" class="gradientFX icon chevron-down">Visas</a>
						<i class="animation line"></i>
						<div class="subMenu hidden">
							<ul>
								<li class="active hoverGradientFX"><a href="http://www.sevenmigration.com.au/visas/sponsored/"><span>SPONSORED VISA</span></a></li>
								<li class="hoverGradientFX"><a href="http://www.sevenmigration.com.au/visas/skilled/"><span>SKILLED VISA</span></a></li>
								<li class="hoverGradientFX"><a href="http://www.sevenmigration.com.au/visas/partner/"><span>PARTNER VISA</span></a></li>
								<li class="hoverGradientFX"><a href="http://www.sevenmigration.com.au/visas/student/"><span>STUDENT VISA</span></a></li>
								<li class="hoverGradientFX"><a href="http://www.sevenmigration.com.au/visas/family/"><span>FAMILY VISA</span></a></li>
								<li class="hoverGradientFX"><a href="http://www.sevenmigration.com.au/visas/working-holiday/"><span>WORKING HOLIDAY VISA</span></a></li>
								<li class="hoverGradientFX"><a href="http://www.sevenmigration.com.au/visas/visitor/"><span>VISITOR VISA</span></a></li>
							</ul>
						</div>
					</li>
					<li class="menuItem">
						<a href="http://www.sevenmigration.com.au/contact-us/" class="">Contact us</a>
						<i class="animation line"></i>
					</li>
				</ul>
			</nav>
			<!-- SIDE LINKS -->
			<aside id="aside">
				<div id="links">
					<a href="https://www.facebook.com/sevenmigration" class="circle">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="https://www.linkedin.com/company/seven-migration" class="circle linkedin">
						<i class="fab fa-linkedin-in"></i>
					</a>
					<a href="#" class="search-icon" data-bind-searchAction>
					</a>
					<form action="" id="searchform">
						<input type="search" placeholder="type and hit enter...">
					</form>
				</div>
			</aside>
		</div>
	</div>
</header>
