<header id="header" class="show-device-logo show-mobile-logo dt-parent-menu-clickable line-decoration logo-left" role="banner">
	<!-- class="overlap"; class="logo-left", class="logo-center", class="logo-classic" -->
	<!-- !Top-bar -->
	<div id="top-bar" role="complementary" class="text-small solid-bg top-bar-hide top-bar-empty">
		<div class="wf-wrap">
			<div class="wf-container-top">
				<div class="wf-table wf-mobile-collapsed"></div>
				<!-- .wf-table -->
			</div>
			<!-- .wf-container-top -->
		</div>
		<!-- .wf-wrap -->
	</div>
	<!-- #top-bar -->
	<div class="wf-wrap gradient-hover">
		<div class="wf-table">
			<!-- !- Branding -->
			<div id="branding" class="wf-td">
				<img class=" preload-me" srcset="http://www.sevenmigration.com.au/wp-content/uploads/2015/10/seven_testeira_MENOS_ESPACO.png 1x" width="368" height="72" alt="Seven Migration"/><img class="mobile-logo preload-me" srcset="http://www.sevenmigration.com.au/wp-content/uploads/2015/10/seven_testeira_MENOS_ESPACO.png 1x" width="368" height="72" alt="Seven Migration"/>
				<div id="site-title" class="assistive-text">Seven Migration</div>
				<div id="site-description" class="assistive-text"></div>
			</div>
			<!-- !- Navigation -->
			<nav id="navigation" class="wf-td">
				<ul id="main-nav" class="fancy-rollovers wf-mobile-hidden gradient-decor underline-hover">
					<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-197 act first level-arrows-on">
						<a href="http://www.sevenmigration.com.au/">
							<span>Home</span></a>
					</li>
					<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-198 level-arrows-on">
						<a href="http://www.sevenmigration.com.au/about-us/">
							<span>About us</span></a>
					</li>
					<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-199 level-arrows-on">
						<a href="http://www.sevenmigration.com.au/our-services/">
							<span>Our Services</span></a>
					</li>
					<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-200 has-children level-arrows-on">
						<a href="http://www.sevenmigration.com.au/visas/">
							<span>Visas</span></a>
						<div class="sub-nav gradient-hover">
							<ul>
								<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-211 first level-arrows-on">
									<a href="http://www.sevenmigration.com.au/visas/student/">
										<span>Student visa</span></a>
								</li>
								<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-212 level-arrows-on">
									<a href="http://www.sevenmigration.com.au/visas/visitor/">
										<span>Visitor visa</span></a>
								</li>
								<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-213 level-arrows-on">
									<a href="http://www.sevenmigration.com.au/visas/working-holiday/">
										<span>Working Holiday visa</span></a>
								</li>
								<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-214 level-arrows-on">
									<a href="http://www.sevenmigration.com.au/visas/family/">
										<span>Family visa</span></a>
								</li>
								<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-215 level-arrows-on">
									<a href="http://www.sevenmigration.com.au/visas/skilled/">
										<span>Skilled visa</span></a>
								</li>
								<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-216 level-arrows-on">
									<a href="http://www.sevenmigration.com.au/visas/partner/">
										<span>Partner Visa</span></a>
								</li>
								<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-217 level-arrows-on">
									<a href="http://www.sevenmigration.com.au/visas/sponsored/">
										<span>Sponsored visa</span></a>
								</li>
							</ul>
						</div>
					</li>
					<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-201 level-arrows-on">
						<a href="http://www.sevenmigration.com.au/contact-us/">
							<span>Contact us</span></a>
					</li>
				</ul>
				<a href="#show-menu" rel="nofollow" id="mobile-menu" class="accent-bg">
					<span class="menu-open">Menu</span>
					<span class="menu-back">back</span>
					<span class="wf-phone-visible">&nbsp;</span>
				</a>
				<div class="right-block text-near-menu ">
					<div class="soc-ico custom-bg hover-accent-bg">
						<a title="Facebook" target="_blank" href="http://www.facebook.com/sevenmigration" class="facebook">
							<span class="assistive-text">Facebook</span></a>
						<a title="Linkedin" target="_blank" href="https://www.linkedin.com/company/seven-migration" class="linkedin">
							<span class="assistive-text">Linkedin</span></a>
					</div>
					<div class="mini-search">
						<form class="searchform" role="search" method="get" action="http://www.sevenmigration.com.au/">
							<input type="text" class="field searchform-s" name="s" value="" placeholder="Type and hit enter &hellip;"/>
							<input type="submit" class="assistive-text searchsubmit" value="Go!"/>
							<a href="#go" id="trigger-overlay" class="submit text-disable">&nbsp;</a>
						</form>
					</div>
				</div>
			</nav>
		</div>
		<!-- .wf-table -->
	</div>
	<!-- .wf-wrap -->

</header>
<!-- #masthead -->
