<header id="header" class="show-device-logo show-mobile-logo dt-parent-menu-clickable line-decoration logo-left" role="banner"><!-- class="overlap"; class="logo-left", class="logo-center", class="logo-classic" -->

				<!-- !Top-bar -->
		<div id="top-bar" role="complementary" class="text-small solid-bg top-bar-hide top-bar-empty" style="margin-top: 0px;">
			<div class="wf-wrap">
				<div class="wf-container-top">
					<div class="wf-table wf-mobile-collapsed">




					<div class="wf-td"><div class="soc-ico custom-bg hover-accent-bg top-text-near-menu"><a title="Facebook" target="_blank" href="http://www.facebook.com/sevenmigration" class="facebook" style="visibility: visible;"><svg class="icon" viewBox="0 0 24 24"><use xlink:href="#facebook"></use></svg></a><a title="Linkedin" target="_blank" href="https://www.linkedin.com/company/seven-migration" class="linkedin" style="visibility: visible;"><svg class="icon" viewBox="0 0 24 24"><use xlink:href="#linkedin"></use></svg></a></div><div class="mini-search top-text-near-menu">
	<form class="searchform" role="search" method="get" action="http://www.sevenmigration.com.au/">
		<input type="text" class="field searchform-s" name="s" value="" placeholder="Type and hit enter …" style="display: none; visibility: visible;">
				<input type="submit" class="assistive-text searchsubmit" value="Go!">
		<a href="#go" id="trigger-overlay" class="submit text-disable">&nbsp;</a>
	</form>
</div></div></div><!-- .wf-table -->
				</div><!-- .wf-container-top -->
			</div><!-- .wf-wrap -->
		<span class="act top-bar-arrow"></span></div><!-- #top-bar -->
		<div class="wf-wrap gradient-hover">

			<div class="wf-table">

								<!-- !- Branding -->
				<div id="branding" class="wf-td">

					<img class="preload-me retinized" srcset="http://www.sevenmigration.com.au/wp-content/uploads/2015/10/seven_testeira_MENOS_ESPACO.png 1x" width="368" height="72" alt="Seven Migration" src="http://www.sevenmigration.com.au/wp-content/uploads/2015/10/seven_testeira_MENOS_ESPACO.png"><img class="mobile-logo preload-me retinized" srcset="http://www.sevenmigration.com.au/wp-content/uploads/2015/10/seven_testeira_MENOS_ESPACO.png 1x" width="368" height="72" alt="Seven Migration" src="http://www.sevenmigration.com.au/wp-content/uploads/2015/10/seven_testeira_MENOS_ESPACO.png">
					<div id="site-title" class="assistive-text">Seven Migration</div>
					<div id="site-description" class="assistive-text"></div>
				</div>
						<!-- !- Navigation -->
		<nav id="navigation" class="wf-td">
			<ul id="main-nav" class="fancy-rollovers wf-mobile-hidden gradient-decor underline-hover"><li class="page_item page-item-6 first level-arrows-on"><a href="http://www.sevenmigration.com.au/"><span>Home<i class="underline"></i></span></a></li> <li class="page_item page-item-152 level-arrows-on"><a href="http://www.sevenmigration.com.au/about-us/"><span>About us<i class="underline"></i></span></a></li> <li class="page_item page-item-166 current_page_item act level-arrows-on"><a href="http://www.sevenmigration.com.au/our-services/"><span>Our Services<i class="underline"></i></span></a></li> <li class="page_item page-item-182 has-children level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/"><span>Visas<i class="underline"></i></span></a><i class="next-level-button"></i><div class="sub-nav gradient-hover" style="visibility: hidden; opacity: 0;"><ul><li class="page_item page-item-107 first level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/sponsored/"><span>Sponsored visa</span></a></li> <li class="page_item page-item-111 level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/skilled/"><span>Skilled visa</span></a></li> <li class="page_item page-item-109 level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/partner/"><span>Partner Visa</span></a></li> <li class="page_item page-item-119 level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/student/"><span>Student visa</span></a></li> <li class="page_item page-item-113 level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/family/"><span>Family visa</span></a></li> <li class="page_item page-item-115 level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/working-holiday/"><span>Working Holiday visa</span></a></li> <li class="page_item page-item-117 level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/visitor/"><span>Visitor visa</span></a></li> </ul></div></li> <li class="page_item page-item-192 level-arrows-on"><a href="http://www.sevenmigration.com.au/contact-us/"><span>Contact us<i class="underline"></i></span></a></li>
</ul>
				<div id="dl-menu" class="dl-menuwrapper wf-mobile-visible"><a href="#show-menu" rel="nofollow" id="mobile-menu" class="accent-bg"><div class="lines-button x"><span class="lines"></span>
					<span class="menu-open">Menu</span>
					<span class="menu-back">back</span>
					<span class="wf-phone-visible">&nbsp;</span>
				</div></a><div class="dl-container"><ul class="dl-menu"><li class="page_item page-item-6 first level-arrows-on"><a href="http://www.sevenmigration.com.au/"><span>Home<i class="underline"></i></span></a></li> <li class="page_item page-item-152 level-arrows-on"><a href="http://www.sevenmigration.com.au/about-us/"><span>About us<i class="underline"></i></span></a></li> <li class="page_item page-item-166 current_page_item act level-arrows-on"><a href="http://www.sevenmigration.com.au/our-services/"><span>Our Services<i class="underline"></i></span></a></li> <li class="page_item page-item-182 has-children level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/"><span>Visas<i class="underline"></i></span></a><div class="gradient-hover dl-submenu"><ul><li class="dl-back"><a href="#" '=""><span>back</span></a></li><li class="page_item page-item-107 first level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/sponsored/"><span>Sponsored visa</span></a></li> <li class="page_item page-item-111 level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/skilled/"><span>Skilled visa</span></a></li> <li class="page_item page-item-109 level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/partner/"><span>Partner Visa</span></a></li> <li class="page_item page-item-119 level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/student/"><span>Student visa</span></a></li> <li class="page_item page-item-113 level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/family/"><span>Family visa</span></a></li> <li class="page_item page-item-115 level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/working-holiday/"><span>Working Holiday visa</span></a></li> <li class="page_item page-item-117 level-arrows-on"><a href="http://www.sevenmigration.com.au/visas/visitor/"><span>Visitor visa</span></a></li> </ul></div></li> <li class="page_item page-item-192 level-arrows-on"><a href="http://www.sevenmigration.com.au/contact-us/"><span>Contact us<i class="underline"></i></span></a></li>
</ul></div></div>


			<div class="right-block text-near-menu "><div class="soc-ico custom-bg hover-accent-bg"><a title="Facebook" target="_blank" href="http://www.facebook.com/sevenmigration" class="facebook" style="visibility: visible;"><svg class="icon" viewBox="0 0 24 24"><use xlink:href="#facebook"></use></svg></a><a title="Linkedin" target="_blank" href="https://www.linkedin.com/company/seven-migration" class="linkedin" style="visibility: visible;"><svg class="icon" viewBox="0 0 24 24"><use xlink:href="#linkedin"></use></svg></a></div><div class="mini-search">
	<form class="searchform" role="search" method="get" action="http://www.sevenmigration.com.au/">
		<input type="text" class="field searchform-s" name="s" value="" placeholder="Type and hit enter …" style="visibility: visible; display: none;">
				<input type="submit" class="assistive-text searchsubmit" value="Go!">
		<a href="#go" id="trigger-overlay" class="submit text-disable">&nbsp;</a>
	</form>
</div></div>
		</nav>


			</div><!-- .wf-table -->
		</div><!-- .wf-wrap -->

	</header>
