<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">You're almost there!</h4>
  <p>Please read carefully the information below regarding your appointment.</p>
  <hr>
  <p class="mb-0">When ready, please press BOOK NOW to be redirected to the payment page.</p>
</div>
<p>
  For clients in and outside Australia who have already undergone preliminary
  appointments, Seven Migration renders subsequent face-to-face
  consultations with our Registered Migration Agents in Perth (WA)
  and Adelaide (SA) (subject to availability) as well as Video
  Conferences for those elsewhere (subject to availability and time differences).
</p>
<p>
  Consultation Fee: <%= number_to_currency Appointment.find(3).price, unit: 'AUD$'%> per appointment (GST Inclusive)*
</p>
<p>
  Services Included:
</p>
<ul>
  <li>Analysis of visa eligibility, according to clients’ circumstances and individual objectives/background.</li>
  <li>Provision of migration advice and development of an initial migration plan, subject to clients’ circumstances and individual objectives/background.</li>
  <li>Provision of general orientation in regards to professional validation processes (subject to individual analysis).</li>
</ul>
<p class="text-justify">
  * Please also note that this Consultation Fee does not include fees
  related to visa applications, legal representation (as well as any
  other migration agent costs) or any other fees applicable throughout
  the process of lodging and/or appealing for a visa.
</p>
<div class="paypal-button">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="DSZZXJLZN2SP4">
    <input type="hidden" name="custom" value="<%= event_id %>" id="paypal_custom_variable">
    <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
  </form>
</div>
