<div id="step-3" class="wizard-step-container">
  <form id="form-3">
    <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <label for="clientEmail">Email Address</label>
        <input type="email" class="form-control" id="clientEmail" name="clientEmail" placeholder="Enter email">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="clientName">Full Name</label>
        <input type="text" class="form-control" id="clientName" name="clientName">
      </div>
    </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="form-group">
          <label for="clientPhone">Phone Number</label>
          <input type="text" class="form-control" id="clientPhone" name="clientPhone">
        </div>
      </div>
      <div class="col-md-6">
        <label for="referenceSelector">How did you hear from us?</label>
        <select class="custom-select" id="referenceSelector" name="referenceSelector">
          <option value="" disabled="disabled" selected>Please select one of the options below:</option>
          <option value="0">Google</option>
          <option value="1">Friend</option>
          <option value="2">Family</option>
          <option value="3">YouTube</option>
          <option value="4">Facebook</option>
          <option value="5">Information Planet Brazil</option>
          <option value="6">Information Planet Australia</option>
          <option value="7">Information Planet Global</option>
          <option value="8">BRaustralia</option>
          <option value="9">Perfect Deal</option>
          <option value="10">Other</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="clientVideocallId">Videocall ID</label>
      <input type="text" class="form-control" id="clientVideocallId" aria-describedby="clientVideocallIdHelp" name="clientVideocallId">
      <small id="clientVideocallIdHelp" class="form-text text-muted">(required if videocall service was selected)</small>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="termsAndConditionsCheck" name="termsAndConditionsCheck" required>
      <label class="custom-control-label" for="termsAndConditionsCheck">
        I agree with <a href="#" class="gradient textGradient" data-toggle="modal" data-target="#termsOfServicesModal">Terms and Conditions.</a>
      </label>
  </div>
  </form>
</div>
