<div id="step-1" class="wizard-step-container">
  <form id='form-1'>
    <div class="form-group">
      <h5>Select Your Location</h5>
      <div class="form-check-inline">
        <input type="radio" id="locationRadio1" name="locationRadio" class="custom-control-input" value="1" checked>
        <label for="locationRadio1">Perth Only</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="locationRadio2" name="locationRadio" class="custom-control-input"  value="2">
        <label for="locationRadio2">Australia</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="locationRadio3" name="locationRadio" class="custom-control-input"  value="3">
        <label for="locationRadio3">Outside Australia</label>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="font-weight-light">For in person appointment in Adelaide(SA), please contact <a href="mailto:info@sevenmigration.com.au">info@sevenmigration.com.au</a> to check availability.</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <h5>Select a Consultation Type</h5>
      <div class="form-check-inline">
        <input type="radio" id="serviceRadio1" name="serviceRadio" class="custom-control-input"  value="1" checked>
        <label for="serviceRadio1" data-toggle="tooltip" title="Only in Perth" data-placement="bottom">In Person</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="serviceRadio2" name="serviceRadio" class="custom-control-input"  value="2">
        <label for="serviceRadio2">Via Videocall</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="serviceRadio3" name="serviceRadio" class="custom-control-input"  value="3">
        <label for="serviceRadio3" data-toggle="tooltip" title="Only within Australia" data-placement="bottom">Via Phonecall</label>
      </div>
    </div>
    <div class="form-group">
      <h5>Select a Migration Agent</h5>
      <div class="form-check-inline">
        <input type="radio" id="agentRadio1" name="agentRadio" class="custom-control-input"  value="1" checked>
        <label for="agentRadio1">Ana Julia Carusi</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="agentRadio2" name="agentRadio" class="custom-control-input"  value="2">
        <label for="agentRadio2">Claudio Garzini</label>
      </div>
    </div>
    <div class="form-group">
      <div class="media" id='agentMedia'>
      </div>
    </div>
  </form>
</div>
