<div id="step-4" class="wizard-step-container">
  <div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">You're almost there!</h4>
    <p>But your consultation has not yet been booked; there is still <b>one more step</b> to be followed.</p>
    <p>To proceed with confirmation of your booking, please read the information below and then proceed with the payment by clickin on "Pay Now" button.</p>
    <p>Upon clicking on the "Pay Now" button, your consultation will be temporarily scheduled for a maximun period of 24 hours - time throughout which you will have to make your payment and for us to confirm it, and upon which, in case of failure, your booking will be automatically cancelled.</p>
    <p>Please note that you should receive an email with a final confirmation of your booking once we have successfully confirmed your payment. If you do not receive this email within 24 hours of making your payment, please contact  <a href="mailto:info@sevenmigration.com.au">info@sevenmigration.com.au</a>.</p>
  </div>

  <h4>Consultation Summary</h4>
  <div id="step-4-content">
  </div>
</div>
