<p>
  For clients outside Australia, 
  Seven Migration renders Video Conference Calls 
  with our Registered Migration Agents 
  (subject to availability and time differences).
</p>
<p>
  Consultation Fee: <%= number_to_currency Appointment.find(1).price, unit: 'AUD$'%> (GST Inclusive)*
</p>
<p>
  Services Included:
</p>
<ul>
  <li>Analysis of visa eligibility, according to clients’ personal circumstances and individual background and objectives.</li>
  <li>Provision of migration advice and development of an initial migration plan, tailored to clients’ personal circumstances and individual background and objectives.</li>
  <li>Provision of general orientation concerning professional validation processes (subject to individual analysis).</li>
</ul>
<p class="text-justify">
  * As part of the <i>Consultation Fee</i> for your 1st appointment, you will 
  also receive an entitlement to <b>one</b> free-of-charge follow-up consultations 
  which can be scheduled at any time of your discretion. Please note that 
  this <i>Consultation Fee</i> does not, however, include fees related but not 
  limited to visa applications, legal representation charges 
  (or any other migration agent costs) or any other fees applicable throughout 
  the process of lodging a visa application and/or appealing a decision.
</p>
<div class="paypal-button">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="WN2Y6M62G9PWQ">
    <input type="hidden" name="custom" value="<%= event_id %>" id="paypal_custom_variable">
    <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
  </form>
</div>
