<p>For clients in Australia, Seven Migration renders in-person, video conference and phone call consultations. 
Please note that, although in-person consultations are, generally, only made available to clients in Perth (WA), 
our Specialists may, from time to time, travel to other capital cities and make in-person consultations 
available then.
</p>
<p>
For clients outside Australia, only video conference consultations are made available (subject to availability and time differences).
</p>
<p>
  Consultation Fee: <%= number_to_currency EventService.find(1).first_app_price, unit: 'AUD$'%> per appointment (GST Inclusive)*
</p>
<p>
  Services Included:
</p>
<ul>
  <li>Pre-assessment of qualifications and skills to determine their equivalence to an occupation in Australia (as well as their level equivalence in comparison to the AQF Framework, whenever available);</li>
  <li>Comprehensive advice for skills assessment processes with VETASSESS, ACS and TRA (as well as preliminary research for processes conducted by other authorities, on a case-by-case basis);</li>
  <li>Recommendation of steps to be taken in order to comply with the requirements established the above assessment authorities.</li>
</ul>
<p class="text-justify">
  * Please note that this <i>Consultation Fee</i> does not, however, include any fees related but not limited to: 
  (i) the lodgement of skills assessment applications and their subsequent processes; 
  (ii) visa application charges and/or legal representation fees (e.g. migration agent costs); or 
  (iii) any other fees/charges/disbursements applicable throughout any skills assessment and/or visa application process.
</p>
<div class="paypal-button">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="EF2KLY4H4B4EA">
    <input type="hidden" name="custom" value="<%= event_id %>" id="paypal_custom_variable">
    <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
  </form>
</div>