<div id="step-3" class="wizard-step-container">
  <form id='form-3'>
    <input type="hidden" name="selectedDate" id="selectedDate" />
    <div class="row">

      <div class="col-md-6">
        <div id="new_calendar"></div>
      </div>

      <div class="col-md-5">
        <h5 class="card-title">Dates & Times Available</h5>
        <hr>

        <div class="available-times" id="available-times-container">
          <div class="alert alert-light" role="alert">
            Please choose an available date on the calendar to the left and then select a time slot.
          </div>
        </div>

        <h6 class="card-subtitle mb-2 text-muted" style="font-weight: initial; margin-top: 10px;">
          <b>Note:</b> All Dates & Times shown are as per Perth's timezone.
        </h6>
      </div>

      <div class="col-md-1"></div>

    </div>
  </form>
</div>
