<div id="step-1" class="wizard-step-container">
  <form id='form-1'>
    <div class="form-group">
      <h5>Select Your Service</h5>
      <hr>
      <div class="form-check-inline">
        <input type="radio" id="eventServiceRadio1" name="eventServiceRadio" class="custom-control-input" value="1" checked>
        <label for="eventServiceRadio1">Skills Assessment Advice</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="eventServiceRadio2" name="eventServiceRadio" class="custom-control-input" value="2">
        <label for="eventServiceRadio2">Migration Advice</label>
      </div>
    </div>
    <div class="form-group">
      <h5>Select Your Location</h5>
      <hr>
      <div class="form-check-inline">
        <input type="radio" id="locationRadio1" name="locationRadio" class="custom-control-input" value="1" checked>
        <label for="locationRadio1">Perth Only</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="locationRadio2" name="locationRadio" class="custom-control-input"  value="2">
        <label for="locationRadio2">Australia</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="locationRadio3" name="locationRadio" class="custom-control-input"  value="3">
        <label for="locationRadio3">Outside Australia</label>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="font-weight-light">For in-person appointments in Adelaide(SA), please contact <a href="mailto:info@sevenmigration.com.au">info@sevenmigration.com.au</a> to check availability.</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <h5>Select a Consultation Type</h5>
      <hr>
      <div class="form-check-inline">
        <input type="radio" id="eventTypeRadio1" name="eventTypeRadio" class="custom-control-input"  value="1" checked>
        <label for="eventTypeRadio1" data-toggle="tooltip" title="Only in Perth" data-placement="bottom">In-Person</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="eventTypeRadio2" name="eventTypeRadio" class="custom-control-input"  value="2">
        <label for="eventTypeRadio2">Video Call</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="eventTypeRadio3" name="eventTypeRadio" class="custom-control-input"  value="3">
        <label for="eventTypeRadio3" data-toggle="tooltip" title="Only within Australia" data-placement="bottom">Phone Call</label>
      </div>
    </div>
    <div class="form-group">
      <h5>Select a Migration Agent</h5>
      <hr>
      <div class="form-check-inline">
        <input type="radio" id="agentRadio2" name="agentRadio" class="custom-control-input"  value="2" checked>
        <label for="agentRadio2">Claudio Garzini</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="agentRadio1" name="agentRadio" class="custom-control-input"  value="1">
        <label for="agentRadio1">Ana Julia Carusi</label>
      </div>
    </div>
    <div class="form-group">
      <div class="media" id='agentMedia'>
      </div>
    </div>
  </form>
</div>
