<div id="step-4" class="wizard-step-container">

  <h4>Consultation Summary</h4>
  <hr>

  <div class="alert alert-seven" role="alert">
    <h4 class="alert-heading">You're almost there!</h4>
    <p>But there is still <b>one more step</b> to be followed.</p>
    <p>To proceed with the confirmation of your booking, please read the information below and then proceed with the payment by clicking on the "Pay Now” button.</p>
    <p>Upon clicking on "Pay Now", your consultation will be temporarily scheduled for a maximum period of 24 hours. Please note that, should you fail to make such payment within this period, your booking will be automatically cancelled and you will have to book it once again (subject to new availability).</p>
    <p>Please also note that you should receive an email with a final confirmation of your booking once we have successfully confirmed your payment.</p>
    <p>If you do not receive this email within 24 hours of making your payment, please contact <a href="mailto:info@sevenmigration.com.au">info@sevenmigration.com.au</a>.</p>
  </div>

  <br>

  <div id="step-4-content">
  </div>
</div>
