<main id="main">
  <div class="container">
    <div class="fixedContainer">

      <h4>Thank you for choosing Seven Migration!</h4>
      <hr>

      <div>We are pleased to advise that your appointment with our Registered Migration Agent has been successfully booked.</div>

      <br>

      <div class="card">
        <div class="card-body">

          <h4 class="mb-4">Booking Details</h4>
          <hr>

          <div class="row">
            <div class="col-md-5">

              <div class="row">
                <div class="col-md-4">Date and Time:</div>
                <div class="col-md-8"><b><%= @booking.start.in_time_zone.strftime '%d/%b/%Y - %I:%M %P' %></b> (Perth Timezone)</div>
              </div>

              <div class="row">
                <div class="col-md-4">Agent Name:</div>
                <div class="col-md-8"><b><%= @booking.agent.name %></b></div>
              </div>

              <div class="row">
                <div class="col-md-4">Service:</div>
                <div class="col-md-8"><b><%= @booking.event_type.desc %></b></div>
              </div>

            </div>
            <div class="col-md-7"></div>
          </div>

          <br>
          <br>

          <p style="margin-bottom: 0;">
            In preparing for your consultation, our Registered Migration Agent will require you to provide us with the following documents:
          </p>
          <ul>
            <li>
              <p style="margin-bottom: 0;">A scanned copy of your passport (for clients in Australia <b>only</b>); and</p>
            </li>
            <li>
              <p>A copy of your Curriculum Vitae (i.e., Resume).</p>
            </li>
          </ul>
          <p>
            We would appreciate if you could please send the above documents to <a href="mailto:info@sevenmigration.com.au">info@sevenmigration.com.au</a> 
            two day prior to your appointment, at the latest.
          </p>

          <div class="row">
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-seven btn-seven-active" id="re-send-email">Re-send booking</button>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

</main>

<script>  
  $(document).ready(function(){
    $('#re-send-email').on('click', function (){
      var params = { id: <%= @booking.id %> }
      $.get("/event/send_confirmation_email", params).done(function(e){
        alert("We've sent the booking confirmation to your email address. If you do not receive email in 10 minutes, please contact Seven Migration.");
      });
    });
  });
</script>