<main id="main">
  <div class="container">
    <div class="fixedContainer">

      <h4>Thank you for choosing Seven Migration!</h4>
      <hr>

      <div>Aqui vcs vao me dizer um texto bem bonito paranebizando o cliente for per escolhido a seven que informando que o booking esta confirmado.</div>

      <br>

      <div class="card">
        <div class="card-body">

          <h4 class="mb-4">Booking Details</h4>
          <hr>

          <p>Aki vcs me passam um texto informando o que a pessoa tem que trazer para o booking ou qualquer outra coisa que queiram</p>
          <p>Os dados do booking estao abaixo:</p>
          <br>

          <div class="row">
            <div class="col-md-5">

              <div class="row">
                <div class="col-md-4">Date and Time:</div>
                <div class="col-md-8"><b><%= @booking.start.in_time_zone.strftime '%d/%b/%Y - %I:%M %P' %></b></div>
              </div>

              <div class="row">
                <div class="col-md-4">Agent Name:</div>
                <div class="col-md-8"><b><%= @booking.agent.name %></b></div>
              </div>

              <div class="row">
                <div class="col-md-4">Service:</div>
                <div class="col-md-8"><b><%= @booking.event_type.desc %></b></div>
              </div>

            </div>
            <div class="col-md-7"></div>
          </div>

          <br>
          <br>

          <p>Any other info down here???</p>

          <div class="row">
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-seven btn-seven-active">Re-send booking</button>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

</main>
