@import "bootstrap";
@import "fullcalendar";

.container.seven-panel {
  max-width: 1000px;

  .error.help-block {
    color: red;
  }

  .btn-primary.after-calendar {
    margin-top: 15px;
  }
}

input[aria-invalid="true"] {
  border-color: red;
}

.fc-bgevent {
  background: #d7d7d7;
}
